asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyrogram
tgcrypto
uvloop
yt_dlp
libtorrent
qbittorrent-api>=2023.4.54
requests>=2.31.0
libtorrent
